[flake8]
min_python_version = 3.6.0
max-line-length = 88
ban-relative-imports = true
inline-quotes = double
mypy-init-return = true
enable-extensions = TC, TC2
type-checking-exempt-modules = typing, typing-extensions
extend-ignore =
    E501 #Line too long
extend-exclude =
    tests/**,
    argo_workflow_tools/models/**
    __init__.py